<div class="col-lg-4">
    <h1>Departures: </h1>
    <div class="list-group">
        <% departures.forEach((departure) => { %>
        <a class="list-group-item">
            <h4 class="list-group-item-heading"><%= departure.destination %></h4>
            <p class="list-group-item-text"><%= departure.time %></p>
        </a>
        <% }) %>
    </div>
</div>