<div class="col-lg-4">
    <h1>Stops: </h1>
    <div class="list-group">
        <% stops.forEach((stop) => { %>
        <a class="list-group-item stopsListItem" id="<%= stop.id %>">
            <h4 class="list-group-item-heading"><%= stop.name %></h4>
            <p class="list-group-item-text"><%= stop.distance %></p>
        </a>
        <% }) %>
    </div>
</div>